name: "Module: secret"
on:
- push

defaults:
  run:
    shell: bash
    working-directory: secret

jobs:
  checkfmt:
    name: Format
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Check format
      run: make checkfmt

  validate:
    name: Validate
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Validate
      run: make validate

  docs:
    name: Docs
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Docs
      uses: terraform-docs/gh-actions@b70f26cbb942d355a1ec99d3aa5707a35e838b81
      with:
        git-push: true
        output-file: README.md
        output-method: inject
        working-dir: secret

  lint:
    name: Lint
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Setup TFLint
      uses: terraform-linters/setup-tflint@v1
      with:
        tflint_version: v0.38.1

    - name: Lint
      run: make lint
